.AddButton{
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
}
.FormWrapper{
    background: #fff;
    border-radius: 3px;

}
.wrapTextarea{
    display: flex;
    flex-direction: column;
    padding: 5px;
    min-height: 50px;
}
.Textarea{
    resize: none;
    overflow: hidden;
    border: none;
    width: 100%;
    outline: none;
    border-radius: 3px;
}
.wrapBtn{
    display: flex;
    align-items: center;
    padding: 5px;
}
.saveBtn{
    color: #fff;
    border:none;
    background: rgba(0,128,0, 0.9);
    width: 50%;
    padding: 10px 5px;
}
.saveBtn{
    background: rgba(0,128,0, 1);
    cursor: pointer;
}
.faplus{
    padding: 0 10px;
}
.cancelBtn{
    color: rgba(0,0,0,0.9);
    padding: 0 10px;
    margin: 0 10px;
}
.cancelBtn:hover{
    color: rgba(0,0,0,1);
    cursor: pointer;
}
.card{
    display: flex;
    border-radius: 0 0 3px 3px;
    color: #777;
    background: rgba(0,0,0, 0.1);
}
.card:hover{
    background: rgba(0,0,0, 0.2);
}
.column{
    display: flex;
    color: #fff;
    background: rgba(0,0,0, 0.4);
}
.column:hover{
    background: rgba(0,0,0, 0.5);
}